@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #1D244F;
  --card: #FFFFFF;
  --card-foreground: #1D244F;
  --popover: #F7F7FA;
  --popover-foreground: #1D244F;
  --primary: #2663FF;
  --primary-foreground: #FFFFFF;
  --secondary: #F7F7FA;
  --secondary-foreground: #1D244F;
  --muted: #F7F7FA;
  --muted-foreground: #5B5F79;
  --accent: #f7a828;
  --accent-foreground: #FFFFFF;
  --destructive: oklch(0.5505 0.2155 19.8095);
  --destructive-foreground: #FFFFFF;
  --border: #F7F7FA;
  --input: #F7F7FA;
  --ring: #2663FF;
  --chart-1: #2663FF;
  --chart-2: #1D244F;
  --chart-3: #f7a828;
  --chart-4: #5B5F79;
  --chart-5: #F7F7FA;
  --sidebar: #F7F7FA;
  --sidebar-foreground: #1D244F;
  --sidebar-primary: #2663FF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #f7a828;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #F7F7FA;
  --sidebar-ring: #2663FF;
  --font-sans: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Lora, serif;
  --radius: 0.975rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.30);
}

.dark {
  --background: #1D244F;
  --foreground: #F7F7FA;
  --card: #1D244F;
  --card-foreground: #F7F7FA;
  --popover: #2663FF;
  --popover-foreground: #F7F7FA;
  --primary: #2663FF;
  --primary-foreground: #FFFFFF;
  --secondary: #1D244F;
  --secondary-foreground: #F7F7FA;
  --muted: #2663FF;
  --muted-foreground: #F7F7FA;
  --accent: #f7a828;
  --accent-foreground: #FFFFFF;
  --destructive: oklch(0.7556 0.1297 2.7642);
  --destructive-foreground: #FFFFFF;
  --border: #5B5F79;
  --input: #5B5F79;
  --ring: #2663FF;
  --chart-1: #2663FF;
  --chart-2: #f7a828;
  --chart-3: #5B5F79;
  --chart-4: #F7F7FA;
  --chart-5: #FFFFFF;
  --sidebar: #1D244F;
  --sidebar-foreground: #F7F7FA;
  --sidebar-primary: #2663FF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #f7a828;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #5B5F79;
  --sidebar-ring: #2663FF;
  --font-sans: Manrope, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Lora, serif;
  --radius: 0.975rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.30);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}